body {
  margin: 0;
  background-color: #ffeedb;
}

.TopContainer {
  text-align: center;
  width: 100%;
  margin: 150px 0 0 0;
}
hr {
  border-style: dotted none none none;
  width: 6%;
  border-width: 5px;
  border-color: gray;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1 {
  margin-bottom: 10px;
  font-size: 3.62rem;
  color: #7d5a50;
  font-family: "Sacramento", cursive;
}
h2 {
  margin-top: 0;
  font-weight: bold;
  color: #7d5a50;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
p {
  font-family: "Merriweather", serif;
  color: #0a1d37;
  font-weight: bold;

  line-height: 40px;
}
.MiddleContainer {
  width: 100%;
  text-align: center;
  margin: 60px auto 60px auto;
}
.BottomContainer {
  width: 100%;
  text-align: center;
  background-color: #865439;
}
.Mountain {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.cloud1 {
  position: absolute;
  left: 320px;
  top: 12rem;
}
.cloud2 {
  position: absolute;
  right: 20rem;
  top: 5rem;
}
.ProfilePicture {
  margin: 50px auto 50px auto;
  width: 20.6rem;
  height: 20.6rem;
}
.computer {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}
.computerimage {
  width: 25%;
  float: left;
  margin-right: 30px;
  position: relative;
}
.joystick {
  text-align: right;
  width: 50%;
  margin: 100px auto 100px auto;
}
.joystickimage {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.ContactButton {
  color: brown;
  background-color: #ffeedb;
  padding: 6px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
